doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        link(rel="shortcut icon"  href="../images/favicon.ico")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../static/scripts/populate.js')
        script(src='../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
    body(onload="loadCourses()")
        include templates/header.pug
        main
            npm
            div(id="menus")
                div(class="controls")
                    div(id='groupButtonDiv')
                        h1 View Teams of:
                    div(class="form") 
                        
                        h2 Filter:
                        label(for="weekSelector") Week: 
                        select(id='weekSelector')
                            option(value="null" selected="selected") All Weeks
                        br
                        label(for="weekSelector") Course: 
                        select(id='groupSelector')
                            option(value="null" selected="selected") All Courses
                        br
                        label(for="bookmarkInput") Bookmarked: 
                        input(type="checkbox" id="bookmarkInput" value="true")
                        br
                        label(for="missingInput") Missing: 
                        input(type="checkbox" id="missingInput" value="true" checked="true")
                        br
                        
                        label(for="sortSelector") Sort By: 
                        select(id='sortSelector')
                            option(value="overallNeg" selected="selected") Most Urgent (Overall)
                            option(value="overallPos" ) Least Urgent (Overall)
                            option(value="emotionNeg" ) Most Urgent (by emotion)
                            option(value="experienceNeg" ) Most Urgent (by experience)
                            option(value="mostRecent" ) Most Recent
                            option(value="leastRecent" ) Least Recent
                        
                        button(onclick="filterForm(\"course\")") Submit
                    
            div(id='trendsDiv')
                canvas(id = "expTrend")
                canvas(id = "emoTrend")
                //button(onclick="orderMissingStudents()") Submit
            //input(type="file" id="file-input")
            //div(id="file-content")


            div(id='new')
            
            

        include templates/footer.pug
        script. 
            course=null;
            set = 'course';
            //orderMissingStudents();