doctype html


//This is the home page! For the teacher's dashboard anyways... It shows all the courses and stuff.

html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        link(rel="shortcut icon"  href="../images/favicon.ico")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../static/scripts/populate.js')
        script(src='../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
    body(onload="loadCourses()")
        include templates/header.pug
        main
            npm
            div(id="titleDiv")
                h1(id='courseTitle') All Courses
            div(id="menus")
                
                div(class="controls")

                    
                        
                    div(id='groupButtonDiv')
                        h1 View Teams of Course:
                    div(class="form") 
                        
                        h2 Filter:
                        label(for="weekSelector") Week: 
                        select(id='weekSelector')
                            option(value="null" selected="selected") All Weeks
                        br
                        label(for="weekSelector") Course: 
                        select(id='groupSelector')
                            option(value="null" selected="selected") All Courses
                        br
                        label(for="bookmarkInput") Bookmarked: 
                        input(type="checkbox" id="bookmarkInput" value="true")
                        br
                        label(for="missingInput") Show Missing: 
                        input(type="checkbox" id="missingInput" value="true" checked="true")
                        br
                        
                        label(for="sortSelector") Sort By: 
                        select(id='sortSelector')
                            option(value="overallNeg" ) Most Urgent (Overall)
                            option(value="overallPos" ) Least Urgent (Overall)
                            option(value="emotionNeg" ) Most Urgent (by emotion)
                            option(value="experienceNeg" ) Most Urgent (by experience)
                            option(value="mostRecent" selected="selected" ) Most Recent
                            option(value="leastRecent" ) Least Recent
                        
                        button(id="submitButton" onclick="filterForm(\"course\")") Submit
                    div(id="overallComments")
                        h1 Overall Comments 
                        textarea(id="commentTextArea" placeholder="No Comment" readonly editing="false")
                        div(id="overallCommentButtonDiv")
                            button(id="overallCommentEdit" onclick="overallCommentEdit()") Edit
                            button(id="overallCommentSave" onclick="overallCommentSave(false, \"all\", \"\")") Save
                            button(id="overallCommentDelete" onclick="overallCommentSave(true, \"all\", \"\")") Delete
                    
            div(id='trendsDiv')
                div(id="expTrendDiv")
                    p(id="expTrendTitle") Learning Experience
                    canvas(id = "expTrend")
                div(id="emoTrendDiv")
                    p(id="emoTrendTitle") Emotions
                    canvas(id = "emoTrend")
            

            //This div here, "new" is where all of the graphs get appended to.  Another terrible name !
            div(id='new')
            
            

        include templates/footer.pug
        script. 
            course=null;
            set = 'course';
            