doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        link(rel='stylesheet',type="text/css" , href='../static/styles/team.css')
        
       
        //script(defer, src='../static/scripts/plotly.js')
        script(src='https://cdn.plot.ly/plotly-2.16.1.min.js')
        //script(defer, src='../static/scripts/chartly.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
    body
        include templates/header.pug
        main

            //input(type="file" id="file-input")
            //div(id="file-content")

            //- div(class='container')
            //-     div(id='team1')
            //-     div(id='team2')
            //-     div(id='team3')
            //-     div(id='team4')
            //-     div(id='team5')
            //-     div(id='team6')  
            //- div(class='container')
            //-     canvas(id="myChart1")
            //-     canvas(id="myChart2")
            //-     canvas(id="myChart3")
            //-     canvas(id="myChart4")
            //-     canvas(id="myChart5")
            //-     canvas(id="myChart6")
            //-     canvas(id="myChart7")
            //-     canvas(id="myChart8")
        include templates/footer.pug