doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        
        script(defer, src='../static/scripts/populate.js')
        script(src='../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
    body(onload="loadCourseButtons()")
        include templates/header.pug
        main
            h1 Papers:
            //input(type="file" id="file-input")
            //div(id="file-content")
            

            div(id='new')
            div(id='groupButtonDiv')
        include templates/footer.pug