doctype html
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        link(rel='stylesheet',type="text/css" , href='../static/styles/team.css')
    body
        include templates/header.pug
        main
            include templates/test.pug
        include templates/footer.pug