doctype html

//This is the launching off point for the Student Dashboard.  It will find the courses that the student is in and show 'em
html(lang='en')
    head
        title Emotion Dashboard!
        meta(charset='utf-8')
        link(rel="shortcut icon"  href="../images/favicon.ico")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
        link(rel='stylesheet',type="text/css" , href='../static/styles/home.css')
        link(rel='stylesheet',type="text/css" , href='../static/styles/studentHome.css')
        
        script(src="https://kit.fontawesome.com/04e87abddd.js" crossorigin="anonymous")
        script(defer, src='../static/scripts/populate.js')
        script(src='../static/scripts/order.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        
        
    body
        include templates/header.pug
        main
            h1(id="studentWelcome") Welcome studentName
            br
            h2 Here are your courses: 
            div(id="studentCourses")

        include templates/footer.pug
        script. 

            course=null;
            set = 'course';
            studentName='#{studentName}';
            window.onload = function(){
            
                document.getElementById('studentWelcome').innerHTML = "Welcome " + studentName;
                loadStudentCourses(studentName, "home");
            };

            //orderMissingStudents();