div(class='team')
    table(class='teamBody')
        <caption> Team 1 </caption>
        <tr class='one'>
            <td class='red'></td>
            <td class='red'></td>
            <td class='red'></td>
        </tr>
        <tr class='two'>
            <td class='red'></td>
            <td class='red'></td>
            <td class='green'></td>
        </tr>
        <tr class='three'>
            <td class='red'></td>
            <td class='green'></td>
            <td class='grey'></td>
        </tr>