div(class="form") 
                    
                    span Filter:
                    label(for="weekSelector") Week: 
                    select(id='weekSelector')
                        option(value="null" selected="selected") All Weeks
                    br
                    label(for="weekSelector") Course: 
                    select(id='groupSelector')
                        option(value="null" selected="selected") All Courses
                    br
                    label(for="bookmarkInput") Bookmarked: 
                    input(type="checkbox" id="bookmarkInput" value="true")
                    br
                    label(for="missingInput") Missing: 
                    input(type="checkbox" id="missingInput" value="true" checked="true")
                    br
                    label(for="sortSelector") Sort By: 
                    select(id='sortSelector')
                        option(value="overallNeg" selected="selected") Most Urgent (Overall)
                        option(value="overallPos" ) Least Urgent (Overall)
                        option(value="emotionNeg" ) Most Urgent (by emotion)
                        option(value="experienceNeg" ) Most Urgent (by experience)
                    
                    button(onclick="filterForm(\"course\")") Submit