

header
    h1 Emotion Dashboard!
nav
    ul
        li
            a Home 
        li
            a Papers
        li
            a Statistics
        li
            a Account
        li
            a Settings
        
