/* Layout */
:root {
    
    --header-height: 100px;
    --footer-height: 50px;
}

main{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

header{
    background-color: #8ecae6;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 200px;
    z-index: 1;
    
}
/*
#headerWhiteBar{
    background-color: #8ecae6;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 100;
}
*/
#headerWhiteBar{
    position: relative;
    background-color: white;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 100;
}

#footerWhiteBar{
    position: relative;
    background-color: white;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -65px;
    z-index: 100;
}
header h1{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 50px;
    
}
header a{
    text-decoration: none;
}
header a:visited{
    color: black;
    text-decoration: none;
}
nav{
    padding-left: 15px;
    background-color: #8ecae6;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    padding: 5px;
}

nav li a{
    text-decoration: none;
    display: block;
    width: 100px;
    color: black;

}
nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav li a:visited{
    color: black;
    text-decoration: none;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
main{
    margin-bottom: 100px;
}


/*
.filters{
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filters button{
    font-family: 'Poppins', sans-serif;
    height: 50px;
    font-size: 20px;
    background-color: rgba(142, 202, 230, 0.5);
    border: none;
    border-radius: 3px;
}

.filters button:hover{
    background-color: #8ecae6;
}

*/

#trendsDiv{
    display: flex;
    flex-direction: row;
    height: 20vw;
    justify-content: center;
    margin-bottom: 50px;
}
#new{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}




.controls{
    display: flex;
    justify-content: space-around;
}

.controls > *{
    
    border: 1px solid #8ecae6;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 5px 5px;
}




#groupButtonDiv{
    font-size: 20px;
    
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: 46%;
    
    
}

#groupButtonDiv h1{
    font-size: 30px;
    margin-top: 0px;
}
.groupButton{
   
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 150px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #8ecae6;
    color: black;
    
    
}

.groupButton:hover{
    padding: 18px 20px;
    text-decoration: underline;
    color: black;
    background-color: white;
    border: 1px solid #8ecae6;
}

.groupButton:visited{
    color: black;
}

canvas{
    width: 500px;
    height: 400px;
}
.canvaContainer{
    display: flex;
    height: auto;
    margin: 40px 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    
}

.form{
    font-size: 20px;
    width: 46%;
   
}

.form span{
    display: block;
    text-decoration: underline;
}

.form button{
    display: block;
    font-size: 20px;
    margin-top: 10px
}

.form select{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
.form h2{
    margin-top: 0px;
}

#bookmarkInput{
    width: 20px;
    height: 17px;
}

.graphAside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100px;
    height: 250px;
    
}
.graphAside > div{
    /*margin-bottom: 50px;
    margin-top: 20px;*/
    padding-top: 25px;
    padding-bottom: 30px;
}

.infoDiv{
    display: flex;
    justify-content: space-between;
}


.missingStudents{
    display: none;
    color: black;
    
}

.missingStudents i{
    font-size: 10px;
    display: inline-block;
}
.missingStudents span{
    display: block;
}



.numStudentsDiv{
    font-size: 20px;
    font-weight: bold;
    
}
.missingStudents i{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.goodBoy i{
    color: #8ac926;
}

.badBoy i{
    color: #ff595e;
}

.missingStudents:hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 100px;
    border: 1px solid black;
    z-index: 10;
   
}

.numStudentsDiv:hover + .missingStudents{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 100px;
    border: 1px solid black;
    z-index: 10;
   
}

.numStudentsDiv[ratio="green"]{
    color:#8ac926;
}
.numStudentsDiv[ratio="orange"]{
    color:#fb8500;
}
.numStudentsDiv[ratio="red"]{
    color:#ff595e;
}

.bookmarkDiv{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check{
    position: absolute;
    opacity: 0.1;
    cursor: pointer;
    top: 5px;
    left: 0;
    height: 22px;
    width: 17px;
    z-index: 10;
}

.bookmark{
    position: absolute;
    top: 4px;
    left: 3px;
    height: 25px;
    width: 20px;
    
}
.fa-regular.fa-bookmark{
    font-size: 20px;
    color: black;
    display: inline;
}

.fa-solid.fa-bookmark{
    font-size: 20px;
    color: green;
    display: none;
}




/* When the checkbox is checked, add a blue background */
.bookmarkDiv input:checked ~ .bookmark .fa-regular.fa-bookmark{
   
    display: none;
}
/* When the checkbox is checked, add a blue background */
.bookmarkDiv input:checked ~ .bookmark .fa-solid.fa-bookmark{
    color: black;
    display: inline;
}
/* Create the checkmark/indicator (hidden when not checked) */
.bookmark:after {
    background-color: #ff595e;
    position: absolute;
    display: none;
  }
  


.changeValues{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 20px;
}



.fa-solid{
    font-size: 27px;
}
.fa-solid.fa-caret-up{  
    color: #8ac926;
}

.fa-solid.fa-caret-down{
    color: #ff595e;
}

.fa-solid.fa-minus{
    margin-left: 10px;
    
}

#menus{
    margin-top: -50px;
    margin-bottom: 50px;
    margin-left: -90px;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 900;
    
    

}


#backButtonDiv{
    
    display:block;
}
#backButton{
    font-size: 30px;
    border-style: solid;
    display: inline-block;
    padding-top:2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}
#backButton:hover{
    color: white;
    background-color: black;
}
#backButton:hover i{
    color: white;
    background-color: black;
}
#backButton:visited{
    color: black;
}
#courseTitle{
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
}

#reportArea{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#textArea{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 5px;
    
}

.textHeader{
    display: flex;
    align-items: center;
}

.textHeader h3{
    font-size: 30px;
    
}

.textHeader button{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    
    margin: 15px;
    height: 40px;
}

.textHeader button:hover{
    color: white;
    background-color: black;
}

#testDiv{
    display: none; 
    position: absolute;
    padding: 10px;
    background-color: white;
    z-index: 20;
    
}

#studentName{
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
}


.tools{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    width: 30%;
    padding-left: 15px;
    top: 20px;
    display: flex;
    flex-direction: column;
    /*
    border-left: 1px solid black;
    */
    background-color: #C7E5F2;
    border-radius: 10px;
    border-top: 5px solid black;
    
   
    
}

#whiteBar{
    width: 104.5%;
    height: 25px;
    background-color:#C7E5F2;  
    margin-left: -15px;
    margin-bottom: -7.5px;
    border-radius: 50%;
    border-bottom: 5px solid black;

    
}

#commentEntry{
    width: 80%;
    height: 200px;
    margin-top: 20px;
}
#commentSave{
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    
}
#commentSave:hover{
    background-color: rgba(157, 255, 0, 0.4);
    cursor: pointer;
}
#commentSave:active {
    
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }

  #commentDelete{
    width: 60px;
    height: 30px;
    margin-top: 15px;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
#commentDelete:hover{
    background-color: rgba(255, 48, 48, 0.4);
    cursor: pointer;
}
#commentDelete:active {
    
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }

textarea{
    font-family: 'Poppins', sans-serif;
    width: 90%;
}
.textEntry{
    border-bottom: 2px solid black;
}

.textEntry p{
    margin-left: 10px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 20px;
}

.sentence{
    border: 1px solid white;
    border-radius: 10px;
}

.sentence[display = "emotion"][experiencetype = "negative"][shown = "false"]{
    background-color: white;
    
}
.sentence[display = "emotion"][experiencetype = "positive"][shown = "false"]{
    background-color: white;
   
}
.sentence[display = "emotion"][experiencetype = "mixed"][shown = "false"]{
    background-color: white;  
}


.sentence[display = "emotion"][emotionType = "negative"][shown = "true"]{
    background-color: rgba(255, 0, 8, 0.4);
    
}
.sentence[display = "emotion"][emotionType = "positive"][shown = "true"]{
    background-color: rgba(138, 201, 38, 0.4);
   
}
.sentence[display = "emotion"][emotionType = "mixed"][shown = "true"]{
    background-color: rgba(255, 184, 30, 0.4);
    
}


.sentence[display = "experience"][experiencetype = "negative"][shown = "false"]{
    background-color: white;
    
}
.sentence[display = "experience"][experiencetype = "positive"][shown = "false"]{
    background-color: white;
   
}
.sentence[display = "experience"][experiencetype = "mixed"][shown = "false"]{
    background-color: white;  
}


.sentence[display = "experience"][emotionType = "negative"][shown = "true"]{
    background-color: rgba(255, 0, 8, 0.4);
    
}
.sentence[display = "experience"][emotionType = "positive"][shown = "true"]{
    background-color: rgba(138, 201, 38, 0.4);
   
}
.sentence[display = "experience"][emotionType = "mixed"][shown = "true"]{
    background-color: rgba(255, 184, 30, 0.4);
    
}




 



.sentence[selected = "true"]{
    border: 1px solid black;
    border-radius: 10px;
}
.sentence[selected = "false"]{
    border: none;
}
.commentDiv[selected = true]{
    text-decoration: underline;
}
.commentDiv:hover{
    cursor: pointer;
}
 
h2{
    margin-bottom: 10px;
}
.commentDiv {
    /*
    border-bottom: 1px solid #666;
    */
    margin-top: 15px;
}
/* The animation code 
@keyframes example {
    0%   {top: -400px}
    25%  {}
    50%  {}
    75%  {}
    100% {top: 0px}
  }
*/
#newCommentDiv{
    display: none;
}

#topInfo{
    display: flex;
    flex-direction: row ;
    height: 500px;
}

#graphArea{
    margin-top: 50px;
    margin-left: 15%;
}

#graphArea canvas{
    height: 350px !important;
    width: 700px !important;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}


footer{
   /* position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #8ecae6;
    text-align: center;
}

footer p{
    padding-top: 100px;
}



#pageInfo label{
    display: inline;
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid black;
    
}

#pageInfo h2{
    display: inline-block;
}

/* For Laptop Screens*/  
@media only screen   
and (min-width: 768px)   
and (max-width: 1550px)  
{


.controls{
    flex-wrap: wrap;
    flex-direction: column;
   
}



#groupButtonDiv{
   width: auto;
}

.form{
    width: auto;
}

#trendsDiv{
    height: 24vw;
    
}

.canvaContainer{
  
    padding: 20px;
}

#textArea{
    width: 90%;
    
    
}

#textArea p{
    width: 90%;
}

#menus{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    
    

}


} 

/* For Laptop Screens*/  
@media only screen   
and (min-width: 0px)   
and (max-width: 768px)  
{

    #menus{
        display: flex;
        flex-direction: column;
        
        margin-left: 0px;
    
    }
    .controls{
        flex-wrap: wrap;
        flex-direction: column;
       
    }
    
    #trendsDiv{
        flex-direction: column;
        height: 45vw;
        margin: 20vw 10vw;
    }
    #groupButtonDiv{
        width: auto;
     }
     
     .form{
         width: auto;
     }

     #topInfo{
        display: flex;
        flex-direction: column ;
        height: auto;
    }

    #graphArea{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5px;
    }
    
    #reportArea{
        display: flex;
        flex-direction:column-reverse;
       
        align-items: flex-start;
    }

    .tools{
        top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        /*background-color: #C2e0f9;*/
        background-color: #C7E5F2;
    }
    
    #textArea{
        width: 100%;
    }
    .textHeader{
        position: sticky;
        position: -webkit-sticky; /* Safari */
        
        background-color: white;
    }
     
}

/* 512 */