/* Layout */
:root {
    
    --header-height: 100px;
    --footer-height: 50px;
}

main{
    margin-left: 5px;
    margin-top: 5px;
}

header{
    background-color: #8ecae6;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

header h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

nav{
    padding-left: 15px;
    background-color: #8ecae6;
    font-family: 'Poppins', sans-serif;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    padding: 5px;
}

nav li a{
    text-decoration: none;
    display: block;
    width: 100px;

}
nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav li a:visited{
    color: black;
    text-decoration: none;
}


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
main{
    margin-bottom: 100px;
}


/*
.filters{
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filters button{
    font-family: 'Poppins', sans-serif;
    height: 50px;
    font-size: 20px;
    background-color: rgba(142, 202, 230, 0.5);
    border: none;
    border-radius: 3px;
}

.filters button:hover{
    background-color: #8ecae6;
}

*/
#new{
    display: flex;
    flex-wrap: wrap;
    
}




.controls{
    display: flex;
}

#groupButtonDiv{
    font-size: 20px;
    border: #8ecae6;
    border-style: solid;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: auto;
    
}

#groupButtonDiv h1{
    font-size: 30px;
    margin-top: 0px;
}
.groupButton{
   
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 150px;
    padding: 20px 5px;
    border-radius: 5px;
    background-color: #8ecae6;
    color: black;
    
}

.groupButton:hover{
    padding: 18px 4px;
    text-decoration: underline;
    color: black;
    background-color: white;
    border: 1px solid #8ecae6;
}

.groupButton:visited{
    color: black;
}

canvas{
    width: 500px;
    height: 400px;
}
.canvaContainer{
    display: flex;
    height: auto;
    margin-right: 150px;
    margin-left: 10px;
    margin-top:50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid black;
    
}

.form{
    font-size: 20px;
    border: #8ecae6;
    border-style: solid;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: 400px;
}

.form span{
    display: block;
    text-decoration: underline;
}

.form button{
    display: block;
    font-size: 20px;
    margin-top: 10px
}

.form select{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

#bookmarkInput{
    width: 20px;
    height: 17px;
}

.graphAside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100px;
    height: 250px;
    
}
.graphAside > div{
    /*margin-bottom: 50px;
    margin-top: 20px;*/
    padding-top: 25px;
    padding-bottom: 30px;
}

.infoDiv{
    display: flex;
    justify-content: space-between;
}


.missingStudents{
    display: none;
    color: black;
    
}

.missingStudents i{
    font-size: 10px;
    display: inline-block;
}
.missingStudents span{
    display: block;
}



.numStudentsDiv{
    font-size: 20px;
    font-weight: bold;
    
}
.missingStudents i{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.goodBoy i{
    color: #8ac926;
}

.badBoy i{
    color: #ff595e;
}

.missingStudents:hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 100px;
    border: 1px solid black;
    z-index: 10;
   
}

.numStudentsDiv:hover + .missingStudents{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 100px;
    border: 1px solid black;
    z-index: 10;
   
}

.numStudentsDiv[ratio="green"]{
    color:#8ac926;
}
.numStudentsDiv[ratio="orange"]{
    color:#fb8500;
}
.numStudentsDiv[ratio="red"]{
    color:#ff595e;
}

.bookmarkDiv{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check{
    position: absolute;
    opacity: 0.1;
    cursor: pointer;
    top: 5px;
    left: 0;
    height: 22px;
    width: 17px;
    z-index: 10;
}

.bookmark{
    position: absolute;
    top: 4px;
    left: 3px;
    height: 25px;
    width: 20px;
    
}
.fa-regular.fa-bookmark{
    font-size: 20px;
    color: black;
    display: inline;
}

.fa-solid.fa-bookmark{
    font-size: 20px;
    color: green;
    display: none;
}




/* When the checkbox is checked, add a blue background */
.bookmarkDiv input:checked ~ .bookmark .fa-regular.fa-bookmark{
   
    display: none;
}
/* When the checkbox is checked, add a blue background */
.bookmarkDiv input:checked ~ .bookmark .fa-solid.fa-bookmark{
    color: black;
    display: inline;
}
/* Create the checkmark/indicator (hidden when not checked) */
.bookmark:after {
    background-color: #ff595e;
    position: absolute;
    display: none;
  }
  


.changeValues{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: 20px;
}



.fa-solid{
    font-size: 27px;
}
.fa-solid.fa-caret-up{  
    color: #8ac926;
}

.fa-solid.fa-caret-down{
    color: #ff595e;
}

.fa-solid.fa-minus{
    margin-left: 10px;
    
}

#backButton{
    font-size: 30px;
    border-style: solid;
    display: inline-block;
    padding-top:2px;
    padding-left: 7px;
    padding-right: 7px;
}
#backButton:hover{
    color: white;
    background-color: black;
}
#backButton:hover i{
    color: white;
    background-color: black;
}
#backButton:visited{
    color: black;
}
#courseTitle{
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
}

#reportArea{
    display: flex;
    align-items: flex-start;
}
#textArea{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}

.textHeader h3{
    font-size: 30px;
}

#testDiv{
    display: none; 
    position: absolute;
    padding: 10px;
    background-color: white;
    
}

#studentName{
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
}


.tools{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top:0;
    background-color: #8ecae6;
}

.textEntry{
    border-bottom: 2px solid black;
}

.textEntry p{
    margin-left: 10px;
    text-indent: 20px;
    line-height: 40px;
    font-size: 20px;
}
 
.positiveSpan{
    background-color: rgba(138, 201, 38, 0.4)
}

.negativeSpan{
    /*background-color: rgba(255, 82, 88, 0.4);*/
    background-color: rgba(255, 0, 8, 0.4);
}
.mixedSpan{
    background-color: rgba(255, 184, 30, 0.4);
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #8ecae6;
    text-align: center;
}


