#team{

}

table{
    background-color: white;
    border-spacing: 0px;
}

td{
    height: 20px;
    width: 40px;
    background-color: red;
}

.red{
    height: 20px;
    width: 40px;
    background-color: red;
}
.green{
    height: 20px;
    width: 40px;
    background-color: green;
}
.grey{
    height: 20px;
    width: 40px;
    background-color: grey;
}
